
{% extends 'scrumko/main.html' %}
{% load static %}

{% block body_block %}

	<script type="text/javascript" src="{% static  'javascript/discussion.js' %}" ></script>
	
	<h1> Project Wall </h1>   
		<br/>
		
		<div class="productbacklogbut">
			<div class="selected">
				<a href="/scrumko/discussion">Discussion</a>
			</div>
			<div>
				<a href="/scrumko/documentation">Documentation</a>
			</div>
		</div>
		
		<br/><br/>
		
		<a href="javascript: void(0)" class="add_post" id="#opener1" ><img src="/static/images/add.png" alt="yes" height="20" width="20">&nbsp; Add new post</a>
		<br /><br />
		
		{% for post in allPosts %}
		<div class="post_container">
			<div class="post_poster_container">
				{{ post.poster }}
					{% if is_scrum_master %}
					<a href="postdelete/{{post.id}}" class="target3" style="float: right;" ><img src="/static/images/delete.png" alt="yes" height="15" width="15">&nbsp; Delete post</a> 
					<br/>	
					{% endif %}
					
			</div>
		
			<div class="post_date_container">
				{{ post.post_time }}
			  
			</div>
		
			<div class="post_content_container" >		
		
				<pre>{{ post.content }}</pre>
			</div>
				
			
			<div class="comment_content_container" >
				<p class="theValue" hidden=true>{{ post.id }}</p>
			
				{% for comment in allComments %}
					{% if comment.post = post %}
						<div class="comment_commenter_container" >
							{{comment.commenter }}
							{% if is_scrum_master %}
							
							<a href="commentdelete/{{comment.id}}" class="target2" style="float: right;"><img src="/static/images/delete.png" alt="yes" height="15" width="15">&nbsp; Delete comment</a>
							
							{% endif %}
							
						</div>
						<div class="comment_comment_container" >
							<pre>{{comment.comment }}</pre>
							
						</div>
						<div class="comment_date_container" >
							{{comment.comment_time }}
						</div>
					{% endif %}
				{% endfor %}
				
				<a href="javascript: void(0)" class="add_comment" id="#opener1" ><img src="/static/images/add.png" alt="yes" height="20" width="20">&nbsp; Add new comment</a>
				
				
			</div>
		</div>
		<br \>
		{% endfor %}
		
		<div id="dialog_add_post" title="Add new post">
				<textarea rows="5" cols="60" id="new_post" name="new_post" name="comment" form="add_post"> 
				</textarea>
		  <form action="/scrumko/add_new_post/" method="post" id="add_post">{% csrf_token %}
			<input type="hidden" id="storyid1" name="storyid1" />
			<input type="submit" id="submit" value="Submit" style="float: left"/>
			<br />
			<p id="warning" ></p>
		  </form>
		</div>
		
		<div id="dialog_add_comment" title="Add new comment">
				<textarea rows="5" cols="60" id="new_comment" name="new_comment" name="comment" form="add_comment"> 
				</textarea>
		  <form action="/scrumko/add_new_comment/" method="post" id="add_comment">{% csrf_token %}
			<input type="hidden" id="postId" name="postId" />
			<input type="submit" id="submitCom" value="Submit" style="float: left"/>
			<br />
			<p id="warningCom" ></p>
		  </form>
		</div>
	
{% endblock %}
