{% extends 'scrumko/main.html' %}

{% block body_block %}
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">


<link type="text/css" rel="stylesheet" href="/static/jQuery-TE_v.1.4.0/jquery-te-1.4.0.css">

<script type="text/javascript" src="http://code.jquery.com/jquery.min.js" charset="utf-8"></script>
<script type="text/javascript" src="/static/jQuery-TE_v.1.4.0/jquery-te-1.4.0.min.js" charset="utf-8"></script>
<div class="textedit">
<h1>Documentation</h1>

<!------------------------------------------------------------ jQUERY TEXT EDITOR ------------------------------------------------------------>

<p name="textarea" class="jqte-test">Lep pozdrav vsem, ki se nahajate na tej strani.<br> Še posebej Petri, Primožu in Luku :)</p>
<button class="status">Change</button><button class="status">Commit</button>
</div>
</br>

<h2>Import story:</h2>
<form action="">
	<select id="id_Customer" name="Customer">
{% for x in all_stories %}
    <option value="{{ x.id }}">{{ x.story_name }}</option>
{% endfor %}
</select></br></br>
<table class="tabcb"><tr>
<td><input class="cb" type="checkbox" name="title" value="1">Title</td>
<td><input class="cb" type="checkbox" name="description" value="1">Description</td>
<td><input class="cb" type="checkbox" name="test" value="1">Acceptance test</td>
<td><input class="cb" type="checkbox" name="notes" value="1">Notifications</td>

</tr></table> </br>
<input type="submit" value="Import">
</form>
<script>
	$('.jqte-test').jqte();
	
	// settings of status
	var jqteStatus = true;
	$(".status").click(function()
	{
		jqteStatus = jqteStatus ? false : true;
		$('.jqte-test').jqte({"status" : jqteStatus})
	});
	
</script>

{% endblock %}

