{% extends 'scrumko/base2.html' %}

{% block body_block %}



		<h1 class="header2">Login</h1>

		

        <form id="index" method="post" action="/scrumko/" >
            {% csrf_token %}
            Username
            <br class=""/>
            <input type="text" name="username" value="" size="50" class="loginfield"/>
            <br />
            <br/>
            Password
            <br/>
             <input type="password" name="password" value="" size="50" class="loginfield"/>
            
			{% if success %}
				<br /><br/>
			{% else %}
				<h2 class="error"> Invalid username or password please try again!</h2>
			 
			{% endif %}

            <input type="submit" value="Submit" class="loginfieldsubmit" />
            
            <br/><br/>
        </form>				
			
{% endblock %}
