{% extends 'scrumko/main.html' %}

{% load static %}

{% block body_block %}
		<script src="{% static  'javascript/project.js' %}"></script>
	     <script>
			$(document).ready(function (){
			 $('.target').click(function(e) {
				 // get form associated with the button
				 var form = $(this)
	
				var x;
				var r=confirm("Do you really want to delete user?");
				if (r==true)
				  {
				  x="You pressed OK!";
				  }
				else
				  {
				  e.preventDefault();
				  x="You pressed Cancel!";
				  }
				document.getElementById("demo").innerHTML=x;
			 });
			});
		</script>
	
    <h1>Maintain projects</h1>

	<table class=planingtable>
	   	
		
		<tr>
			<td>
				Project name
			</td>
			<td>
				Project owner
			</td>
			
			<td>
				Edit
			</td>
			<td>
				Delete
			</td>
		</tr>
		{% for detail in project_detail %}
		{% if request.user.is_superuser or not request.user.is_superuser and detail.scrum_master.id == request.user.id or detail.project_owner.id == request.user.id%}
		<tr>
			<td>
				{{ detail.project_name }}
			</td>
		
			<td>
				{{ detail.project_owner }}
			</td>
			
			<td>
			<a href="editproject?id={{detail.id}}"><img src="/static/images/edit.png" alt="edit" height="15" width="15">Uredi<a>						
			</td>	
			<td>
				<a href="projectdelete/{{detail.id}}" class="target"><img src="/static/images/delete.png" alt="yes" height="20" width="20"></a> 
			</td>		
		</tr>
		{% endif %}
	{% endfor %}
	</table>
{% endblock %}
