{% extends 'scrumko/base.html' %}
{% block header_block %}
	<li><a href="/scrumko/home/">Home</a></li>
	<li><a href="/scrumko/discussion/">Project wall</a></li>
	<li><a href="/scrumko/productbacklog/">Product backlog</a></li>
	<li><a href="/scrumko/sprintbacklog/">Sprint backlog</a></li>
	<li><a href="/scrumko/mytask/">My tasks</a></li>
	<li><a href="/scrumko/progress/">Progress report</a></li>

{% endblock %}


{% block body_block %}
	
{% endblock %}
			
{% block side_block %}
	<h1> Current project</h1>
	<h2>{{ request.session.project_name }}</h2>
					
	<h1> Projects </h1>
	
	{% for project in request.session.project %}
		<a href="/scrumko/home?project_id={{project.1}}&name={{project.0}}">
			<div class="projselect">
				{{project.0}}<br/>
				<p class="role">{{project.2}}</p>
			</div>
		</a>
	{% endfor %}
	
	
	<br/>
	
	
	
{% endblock %}
					
