{% extends 'scrumko/main.html' %}
{% block body_block %}
		
        <h1>Sprint edit</h1>
		{% if request.user.is_staff %} <!-- only admin can see this -->
			<table class=planingtable>
				<tr>
						<td>
							Project name
						</td>
						<td>
							Sprint start
						</td>
						<td>
							Sprint end
						</td>
						<td>
							Velocity
						</td>
						<td>
							Edit
						</td>
						<td>
							Delete
						</td>
			
				</tr>
				{% for detail in sprint_detail %}
				<tr>
						<td>
							{{ detail.project_name }}
						</td>
						<td>
							{{ detail.start_date }}
						</td>
						<td>
							{{ detail.finish_date }}
						</td>
						<td>
							{{ detail.velocity }}
						</td>	
						<td>
 							<a href="/scrumko/sprintedit" ><img src="/static/images/edit.png" alt="yes" height="20" width="20"></a> 						
						</td>	
						<td>
							<a href="sprintdelete/{{detail.id}}" id="target" ><img src="/static/images/delete.png" alt="yes" height="20" width="20"></a> 
						</td>	
				</tr>
				{% endfor %}
			</table>
		{% endif %}
 {% endblock %}
