{% extends 'scrumko/main.html' %}
{% load static %}

{% block body_block %}

	<script type="text/javascript" src="{% static  'javascript/sprintbacklog.js' %}" ></script>
	
	<h1> My tasks</h1>   
		
		{% for sprintstory in allStories %}	
		<div class="story_container">
			
			<div class="story_name_container">
				{{ sprintstory.story.story_name }}
			</div>
		
			<div class="story_content_container" >		
		
			{{ sprintstory.story.text }}
			</div>
			
			
			<div class="story_acceptance_test_container" >				
				{{ sprintstory.story.test_text }}
			</div>
			{% if note_permission %}
				
				
					{% for notification in allNotifications %}
						{% if notification.story = sprintstory.story %}
						{% if not notification.notification = "" %}						
						<div class="story_content_container">
							<p class="notes">{{notification.notification}}</p> 
						</div>
						{% endif %}
						{% endif %}
					{% endfor %}
				
			{% endif %}
			<div class="story_sprintbacklog_tasks_background">
				<table class=backlogtasktable>
	   	
		
					<tr>
						<td class="column_mytask">
							Tasks
						</td>
						<td class="column_mytask">
							Work done
						</td>
						<td class="column_mytask">
							Work remaining
						</td>
						<td class="column_mytask">
							Total task time
						</td>
						<td class="column_mytask">
							Complete
						</td>
						<td class="column_mytask">
							Add work time
						</td>
						
					</tr>
				{% for task in allTasks%}
					{% if task.story == sprintstory.story%}
					
					<tr>
						<td class="column_mytask">
							{{ task.text }}
						</td>
						<td class="column_mytask">
						
							
							{% for k, v in work.items %}
								{% if k = task.id %}
								{{ v }}
								{% endif %}
							{% endfor %}
							 &nbsp;h
							
						</td>
						<td class="column_mytask">
							{{ task.duratino }} &nbsp;h
							
						</td>
						<td class="column_mytask">
							{% for k, v in total.items %}
								{% if k = task.id %}
								{{ v }}
								{% endif %}
							{% endfor %}
							 &nbsp;h 
						</td>
						<td>
							{% if task.status == 0 %}
								Can not complete
							{% elif task.status == 1 %}
								<a href="/scrumko/addtasktocompleted/{{ task.id }}" class="link" >Complete</a>
							{% elif task.status == 2 %}
								Can not complete
								 
							{% endif %}
												
						</td>
						<td><img src="/static/images/add.png" alt="yes" height="17" width="17"></td>
					</tr>
					
					{% endif %}
				{% endfor %}
				</table>
			</div>
		</div>
		<br />	
		{% endfor %}
	
		
	
{% endblock %}
