{% extends 'scrumko/main.html' %}
{% load static %}

{% block body_block %}

	<script type="text/javascript" src="{% static  'javascript/productbacklog.js' %}" ></script>
	
	<h1> Product backlog </h1>   
		
		{% for story in allStories %}
		{% if  is_scrum_master%}
			<a href="/scrumko/productbacklog/" class="addstorytosprint"><img src="/static/images/add.png" alt="yes" height="15" width="15">Add story to sprint</a> 							
		{% endif %}	
		<div class="story_container">
			
			<div class="story_name_container">
				{{ story.story_name }}
			</div>
			<div class="story_actions_container">
				<div class="story_priority">
					Priority: {{ story.priority }}
				</div>
				<div class="story_business">
					Buisness value: {{ story.bussines_value }}
				</div>
				<div class="story_edit">
					
					{% if note_permission %}
					<a href="javascript: void(0)" class="edit_note" id="#opener1" data-story="{{story.id}}"><img src="/static/images/note.png" alt="yes" height="20" width="20"></a>
					 <p class="est" style="float: left; margin-top: 0;"></p> 
					{% endif %}
					{% if  is_scrum_master or is_owner%}
						<a href="/scrumko/storyedit/{{ story.id }}"><img src="/static/images/edit.png" alt="yes" height="20" width="20"></a> 	
						<a href="/scrumko/storydelete/{{story.id}}" class="target" ><img src="/static/images/delete.png" alt="yes" height="20" width="20"></a> 					
					{% endif %}
					
		
				</div>
				<div class="backlog_poker">
					{% if  is_scrum_master %}
						<a href="/scrumko/pokerstart/{{story.id}}" > Planing poker</a>
					{% endif %}
				</div>
				
				<div class="story_estimation">
					<p style="float: left;  margin-top: 0;">Estimation: &nbsp;</p> <p class="est" style="float: left; margin-top: 0;">{{story.estimate}}</p> 
					{% if  is_scrum_master %}
						<a href="javascript: void(0)" class="edit_estimate" id="#opener" data-story="{{story.id}}" > Change</a>
					{% endif %}
				</div>
				
				<br />
				
			  
			</div>
		
			<div class="story_content_container" >		
		
			{{ story.text }}
			</div>
			
			
			<div class="story_acceptance_test_container" >				
				{{ story.test_text }}
			</div>
			{% if note_permission %}
				
				
					{% for notification in allNotifications %}
						{% if notification.story = story %}
						{% if not notification.notification = "" %}						
						<div class="story_content_container">
							<p class="notes">{{notification.notification}}</p> 
						</div>
						{% endif %}
						{% endif %}
					{% endfor %}
				
			{% endif %}
		</div>
		<br />	
		{% endfor %}
	
		<div id="dialog" title="Change estimate">
		  <form action="/scrumko/change_estimation/" method="post" id="estimate_change">{% csrf_token %}
			<input type="hidden" id="storyid" name="storyid" />
			<input type="text" id="estimation" name="estimation" style="float: left"/>
			<input type="submit" id="submit" value="submit" style="float: left"/>
			<br/>
			<p id="warning" ></p>
		  
		  </form>
		</div>
		<div id="dialog_note" title="Add notification">
		  <form action="/scrumko/add_notification/" method="post" id="add_note">{% csrf_token %}
			<input type="hidden" id="storyid1" name="storyid1" />
			<input type="text" id="note" name="note" style="float: left"/>
			<input type="submit" id="submit1" value="submit1" style="float: left"/>
		  
		  </form>
		</div>
	
{% endblock %}
