{% extends 'scrumko/main.html' %}

{% block body_block %}
	
	<h1> Product backlog </h1>
		
	   	
		<!--{#% for user_story in user_stories %}-->
		<div class="story_container">
			<div class="story_name_container">
				PROJECT NAME!!!
			</div>
			<div class="story_actions_container">
				<div class="story_priority">
					Priority:
				</div>
				<div class="story_business">
					Buisness value:
				</div>
				<div class="story_edit">
					EDIT!!!
				</div>
				<div class="story_estimation">
					ESTIMATION!!!
				</div>
				<br />
				
			  
			</div>
			
			<div class="story_content_container" >
			
			CONTENT!!!
			</div>
			<div class="story_acceptance_test_container">
			
			ACCEPTANCE TESTS!!!
			</div>
		</div>
			
		<!--{#% endfor %}-->
	</table>
	
	
{% endblock %}
