{% extends 'scrumko/main.html' %}

{% block body_block %}
        <h1>Dodajanje projekta</h1>

        {% if registered %}
			<div class="succes_hold">
				<div class="succes">
					Projekt je bil <strong>uspešno  </strong>dodan.
				</div>
			</div>
			<br/>
		{% endif %}
			

			<form id="project_form" method="post" action="/scrumko/projectcreate/"
					enctype="multipart/form-data">

				{% csrf_token %}
				<!--{{ project_form.as_p }}-->
				
				{% for hidden in project_form.hidden_fields %}
					{{ hidden }}
				{% endfor %}

				{% for field in project_form.visible_fields %}
					<div>
						<div class="fieldwrapper">
							{{ field.label_tag }}
						</div>
						
						<div class="fieldwrapper">
							{{ field }}
						</div>
						
						<div class="errorwrapper">
							{{ field.errors.as_text }}
							
						</div>
					</div>
					<br/>
					<br/>
				{% endfor %}
				<!-- Provide a button to click to submit the form. -->
				<input type="submit" name="submit" value="Dodaj" />
			</form>
   {% endblock %}
