{% extends 'scrumko/main.html' %}

{% block body_block %}

<div>
		
		<h1>Tasks</h1>
		<h2> User story: {{ this_task.story.story_name }}</h2>
		
		<table class="planingtable">
			<tr>
				
				<td>
					Task
				</td>
				<td>
					Duration
				</td>
				
				<td>
					Member
				</td>
				<td>
					Actions
				</td>
				
			</tr>
		
			{% for task in tasks %}
				<tr>
					<td>
						{{task.text}}
					</td>
					<td>
						{{task.duratino}}
					</td>
					
					<td>
						{{task.worker.username}}
					</td>
					<td>
						{% if not is_owner%}
							{% if task.status == 0 or task.status == 3%}
							<a href="/scrumko/taskedit/{{ task.id }}/"><img src="/static/images/edit.png" alt="yes" height="20" width="20"></a> 	
							<a href="/scrumko/taskdelete/{{ task.id }}/" class="target2" ><img src="/static/images/delete.png" alt="yes" height="20" width="20"></a> 					
							{% endif %}
						{% endif %}
					</td>
				
				</tr>
			
			{%endfor%}
		
		</table>
	
		<br/>
	
		{% if success %}
			<div class="succes_hold">
				<div class="succes">
					Task edited succesfully.
				</div>
			</div>
			
		{% endif %}

		<h1>Edit task: {{ this_task.text }}</h1>

			<form id="task_form" method="post" action="/scrumko/taskedit/{{this_task.id}}/" enctype="multipart/form-data">

				{% csrf_token %}
				{% for hidden in task_form.hidden_fields %}
					{{ hidden }}
				{% endfor %}

				{% for field in task_form.visible_fields %}
					<div>
						<div class="fieldwrapper">
							{{ field.label_tag }}
						</div>
						
						<div class="fieldwrapper">
							{{ field }}
						</div>
						
						<div class="errorwrapper">
							{{ field.errors.as_text }}
							
						</div>
					</div>
					<br/>
					<br/>
				{% endfor %}
				
				
				<!-- Provide a button to click to submit the form. -->
				<input type="submit" name="submit" value="Edit task" />
			</form>
				
</div>

{% endblock %}
